.research-page {
  background-color: #1d1d22;
  color: #9EA3BA;
  padding: 20px 20px 80px 20px;
  margin-top: 0;
  padding-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.research-page h1 {
  text-align: center; 
  margin-bottom: 20px;
  font-size: 2rem; 
  color: #9EA3BA; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 50px; 
}


.research-list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin: 50px auto; 
  max-width: 800px; 
  width: 90%; 
}

.research-item {
  background-color: #1d1d22;
  padding: 10px;
  border: 1px dashed #dc3545;
}

.research-title {
  cursor: pointer;
  font-size: 1.2rem;
  color: #9EA3BA;
  padding: 10px;
  margin: 0;
}

.research-title.active {
  background-color: #561d11;
  color: #9EA3BA;
}

.research-details {
  padding: 10px;
  background-color: #444;
  margin-top: 10px;
  border-radius: 50px;
  word-wrap: break-word; 
}

@media (max-width: 768px) {
  .research-page {
    margin-top: 90px;
    padding-bottom: 80px; 
  }

  .research-page h1{
    color: red;
  }

  .research-list {
    margin: 20px auto; 
    width: 95%; 
    gap: 15px; 
  }

  .research-title {
    font-size: 1rem; 
    padding: 8px; 
  }

  .research-details {
    font-size: 0.9rem; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {
  .research-page {
    margin-top: 100px;
    padding-bottom: 100px; 
  }

  .research-title {
    font-size: 0.9rem; 
    padding: 6px; 
  }

  .research-details {
    font-size: 0.8rem; 
    padding: 6px;
  }
}
