.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 150px;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.hero img:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 0 20px rgba(180, 21, 255, 0.4);
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 3em;
  font-weight: 600;
}
.hero h1 span {
  background: #ccd6f6;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 80%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 10px;
  background: #1d1d22;
  border: 1px solid #dc3545;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15);
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.anchor-link {
  text-decoration: none;
  color: inherit;
}
.hero-resume {
  padding: 10px;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15);
  font-size: 20px;
}
.hero-resume a {
  text-decoration: none;
  color: #fff;
}

.hero-connect:hover {
  border: none;
  transition: 0.3s;
  transform: scale(1.05);
}
.hero-resume:hover {
  gap: 30px;
  transform: scale(1.05);
  transition: 0.3s;
  border: 2px solid #dc3545;
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15);
}

@media (max-width: 768px) {
  .hero img {
    width: 200px;
    height: 200px;
  }

  .hero h1 {
    margin-top: 20px;
    width: 90%;
    font-size: 50px;
  }
  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 16px 25px;
    border-radius: 0px;
  }

  .hero-resume {
    padding: 16px 25px;
    border-radius: 0px;
  }
}
