  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #1d1d22;
    transition: transform 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}

.navbar.hide-navbar {
  transform: translateY(-100%);
}

.navbar img{
    height: 50px;
    width: 90px;
}
.navbar img:hover{
    height: 50px;
    width: 90px;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li a{
    padding: 10px;
    background: #1d1d22;
    font-size: 20px;
    cursor: pointer;  
    text-decoration: none;  
    color: #fff;
}

.nav-menu li a:hover {
    padding: 10px 20px;
    border: 1px solid #dc3545;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}

.nav-connect{
    padding: 10px;
    background: #1d1d22;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, 0.15);
    border: 1px solid #dc3545;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(220, 53, 69, 0); }
    100% { box-shadow: 0 0 0 0 rgba(220, 53, 69, 0); }
}

.nav-connect:hover{
    transform: scale(1.05);
    border: 1px solid #ffffff;
    animation: none;
}
.nav-mob-open{
    display: none;
}

.nav-mob-close{
    display: none;
}
@media(max-width: 768px) {
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #1d1d22;
    transition: transform 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}
.navbar img{
    height: 40px;
    width: 70px;
}
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .no-scroll {
        overflow: hidden;
        height: 100vh; 
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1d1d22;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        transition: transform 0.3s ease;
    }

    .nav-menu li{
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}